<!-- footer -->
<!--<footer class="bg-secondary">-->
<div class="bg-secondary full-width">
    <div class="py-100 border-bottom" style="border-color: #454547 !important">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="mb-5 mb-md-0 text-center text-md-left">
                        <!-- logo -->
                        <img class="mb-30" src="https://www.sciviews.org/images/logo-footer.png" alt="logo">
                        <p class="text-white mb-30"> We build software for reproducible research with R</p>
                        <!-- social icon -->
                        <ul class="list-inline">

                            <li class="list-inline-item">
                                <a class="social-icon-outline" href="https://github.com/SciViews">
                                    <i class="ti-github"></i>
                                </a>
                            </li>

                            <li class="list-inline-item">
                                <a class="social-icon-outline" href="https://twitter.com/PhilGrosjean">
                                    <i class="ti-twitter-alt"></i>
                                </a>
                            </li>

                            <li class="list-inline-item">
                                <a class="social-icon-outline" href="https://www.linkedin.com/in/philippe-grosjean-5b6b29a2/">
                                    <i class="ti-linkedin"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- footer links -->
                <div class="col-lg-2 col-md-4 col-6">
                    <p class="h4 text-white mb-4">Related</p>
                    <ul class="footer-links">

                        <li>
                            <a href="http://econum.umons.ac.be">Our Lab</a>
                        </li>

                        <li>
                            <a href="https://web.umons.ac.be/fs/en/">Our Faculty</a>
                        </li>

                        <li>
                            <a href="https://web.umons.ac.be/complexys/en/">Complexys</a>
                        </li>

                        <li>
                            <a href="https://web.umons.ac.be/infortech/en/">InforTech</a>
                        </li>

                        <li>
                            <a href="https://web.umons.ac.be/en/">UMONS</a>
                        </li>

                    </ul>
                </div>
                <!-- footer links -->
                <div class="col-lg-2 col-md-4 col-6">
                    <p class="h4 text-white mb-4">Quick Link</p>
                    <ul class="footer-links">

                        <li>
                            <a href="https://www.sciviews.org/software/svbox">SciViews Box</a>
                        </li>

                        <li>
                            <a href="https://www.sciviews.org/software/sciviews-r">SciViews::R</a>
                        </li>

                        <li>
                            <a href="https://www.sciviews.org/software/zooimage">Zoo/PhytoImage</a>
                        </li>

                        <li>
                            <a href="https://www.sciviews.org/blog">Blog</a>
                        </li>

                        <li>
                            <a href="https://www.sciviews.org/about">About</a>
                        </li>

                    </ul>
                </div>
                <!-- subscribe form -->
                <div class="col-lg-3 col-md-12 offset-lg-1">
                    <div class="mt-5 mt-lg-0 text-center text-md-left">
                             <p class="h4 mb-4 text-white">Contact Us</p>
                             <p class="text-white mb-4">Need more info?<br/><a href="mailto:info@sciviews.org"><span class="text-primary">Leave us a mail...</span></a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <div class="pt-4 pb-3 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5">
                    <p class="text-white text-center text-md-left">
                        <span class="text-primary">SciViews</span> &copy; All Right Reserved</p>
                </div>
                <div class="col-lg-6 col-md-7">
                    <ul class="list-inline text-center text-md-right">

                        <li class="list-inline-item mx-lg-3 my-lg-0 mx-2 my-2">
                            <a class="font-secondary text-white" href="https://creativecommons.org/licenses/by/4.0/">Site content under CC-BY 4.0 license</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- back to top -->
        <!--<button class="back-to-top">
            <i class="ti-angle-up"></i>
        </button>-->
    </div>
</div>
<!--</footer>-->
<!-- /footer -->