{{#navbar}}
<!-- preloader start -->
<div class="preloader">
  <img src="{{#site}}{{root}}{{/site}}preloader.gif" alt="loading...">
</div>
<!-- preloader end -->

<nav class="navbar fixed-top navbar-{{{type}}} navbar-expand-lg bg-{{{bg}}}" data-bs-theme="{{{type}}}">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="{{#translate}}{{toggle_nav}}{{/translate}}">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="navbar-brand-container">
       <div class="navbar-brand-logo">
         <a class="navbar-brand" href="https://www.sciviews.org">
          <img src="{{#site}}{{root}}{{/site}}logo_full.png" alt="SciViews">
         </a>
       </div>
       <div class="navbar-brand-package">
      </div>
      </div>
    </div>

    <div id="navbar" class="navbar-collapse collapse ms-3">
      <!-- start svPkgdown global site search with Google -->
      <form action="https://www.google.com/search" class="navbar-form navbar-right search-form-global">
        <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback-global"></span>
          <input type="text" class="form-control-global search-form-input" name="q" id="q"
            placeholder="Search..." required>
          <input type="hidden" name="sitesearch" value="https://www.sciviews.org" />
        </div>
      </form>
      <!-- end svPkgdown global site search with Google -->
      {{#left}}
      <ul class="navbar-nav me-auto">
      {{{.}}}
      </ul>
      {{/left}}

      {{#right}}
      <ul class="navbar-nav">
      {{{.}}}
      </ul>
      {{/right}}
      {{#yaml}}{{#docsearch}}
      <form class="navbar-form navbar-right docsearch" role="search">
        <div class="form-group">
          <input type="search" class="form-control" name="search-input" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off">
        </div>
      </form>
      {{/docsearch}}{{/yaml}}
      <div class="navbar-title">
        <a class="navbar-brand me-2" href="{{#site}}{{root}}{{/site}}index.html"><p class = "h2">{{#package}}{{name}}{{/package}} <small>v{{#package}}{{version}}{{/package}}</small></p></a>
      </div>

      <small class="nav-text {{#development}}text-{{version_label}}{{/development}} me-auto" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{#development}}{{version_tooltip}}{{/development}}">{{#package}}{{version}}{{/package}}.</small>

    </div><!--/.nav-collapse -->
  </div><!--/.container -->
  <div class="navbar-spacer bg-light">
  </div>
</nav><!--/.navbar -->
{{/navbar}}